*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
    font-family:'TW CENT MT';
    flex-wrap:nowrap;
}

header{
    flex-basis: 64px;
    background-color: #7895B2;
    color: white;
    box-shadow: 0px 2px 5px #4b4848;
    z-index: 3;
}

.main-body{
    flex-basis: 100%;
    overflow: auto;
    display: grid;
}

.main-body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
.main-body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.title{
    font-size: 24px;
    display: flex;
    align-items: center;
}

.header{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 0 50px;
}

.profil{
    display: flex;
    align-items: center;
    gap: 10px
}
  
.dropdown-content {
    display: none;
    position: fixed;
    top: 60px;
    background-color: #E8DFCA;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    text-align: left;
    align-items: center;
    gap: 5px;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content:hover {
    display: block;
}

#main-content{
    padding: 10px 20px 0 20px;
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    grid-template-rows: min-content auto;
}

@media only screen and (max-width: 1400px) {

}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 992px) {
    .table-warper{
        overflow-x: auto;
    }
}

@media only screen and (max-width: 768px) {
    .profil-name{
        display: none;
    }
    .dropdown-content{
        right: 40px;
    }
    #main-content{
        justify-content: stretch;
    }
    .table-warper{
        min-width: 100%;
    }
}

@media only screen and (max-width: 576px) {
    .title{
        display: none;
    }
    .header{
        flex-direction: row-reverse;
    }
    #search-input{
        width: 150px;
    }
}